/* Styles of descriptors */
.descriptors {
    padding: 70px;

    &__word {
        line-height: 30px;
        font-size: 18px;
        font-family: 'Righteous', sans-serif;
        cursor: pointer;
        padding: 0 14px;
    }
}