/* Styles of descriptors */
.descriptors {
    padding: 70px;

    &__word {
        line-height: 30px;
        font-size: 18px;
        font-family: 'Righteous', sans-serif;
        cursor: pointer;
        padding: 7px 14px;
        margin-right: 10px;
        border: 1px dashed #cc0000;
        border-radius: 4px;

        &:hover {
            border-color: #e80000;
        }
    }
}