html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  min-width: 1050px;
}
.content {
  color: #110e8c;
  font-weight: 600;
  font-family: 'Righteous', sans-serif;
  font-size: 30px;
}
.content__textarea {
  width: 70%;
  font-size: 18px;
}
.content__select {
  vertical-align: top;
  overflow: auto;
  max-width: 180px;
  padding: 5px;
  font-family: Monaco, "Lucida Console", monospace;
  font-size: 14px;
}
.content__submit {
  vertical-align: top;
  border-radius: 2px;
  padding: 10px 15px;
  box-shadow: 0 0 7px 2px #929292;
  border: none;
  font-size: 16px;
  font-family: sans-serif;
  background-color: #fff;
  color: #000074;
}
.content__button {
  background-color: #03316D;
  color: #ffffff;
  font-size: 20px;
  height: 50px;
  width: 140px;
  margin: 20px 0 0 760px;
  border: 2px solid rgba(111, 141, 181, 0.75);
}
.content__form {
  height: 900px;
  padding: 20px;
  background-color: #95D6F5;
  font-family: sans-serif;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.5);
}
/* Styles of descriptors */
.descriptors {
  padding: 70px;
}
.descriptors__word {
  line-height: 30px;
  font-size: 18px;
  font-family: 'Righteous', sans-serif;
  cursor: pointer;
  padding: 0 14px;
}
.header {
  height: 40%;
  min-height: 310px;
  min-width: 970px;
  width: 100%;
  background: url("/resources/image/header.png") 0 0 no-repeat;
  background-size: 100%;
}
.header__title {
  padding: 10% 0 0 0;
  text-align: center;
  font-family: 'Righteous', sans-serif;
  font-size: 75px;
  color: #03316d;
}
.navigation {
  position: fixed;
  padding: 0 180px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(50, 50, 50, 0.4);
  height: 50px;
}
.navigation__button {
  height: 100%;
  border: none;
  outline: none;
  width: 150px;
  font-family: 'Righteous', sans-serif;
  font-size: 20px;
  color: #ffffff;
}
.navigation__button + .navigation__button {
  margin-left: 15px;
}
.navigation__button:active {
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.2);
}
.navigation__button_purple {
  background-color: #c86fff;
}
.navigation__button_purple:hover {
  background-color: #ad60dc;
}
.navigation__button_pink {
  background-color: #ff67b3;
}
.navigation__button_pink:hover {
  background-color: #e55ca1;
}
.processing-page {
  width: 100%;
  height: 100%;
}
.processing-page__link {
  display: none;
  margin-left: 25px;
  font-family: 'Righteous', sans-serif;
  font-size: 20px;
  color: #fffa12;
  text-decoration: none;
  border-bottom: 3px dashed #fffa12;
}
.processing-page__link:active {
  color: #ecdc59;
  border-bottom: 3px dashed #ecdc59;
}
/* Styles for word-description */
.word-description {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.word-description_active {
  display: block;
}
.word-description__wrap {
  width: 100%;
  height: 100%;
  background-color: rgba(150, 150, 150, 0.5);
}
.word-description__popup {
  position: fixed;
  top: 100px;
  left: 50%;
  width: 600px;
  height: 300px;
  margin-left: -300px;
  background-color: #fff;
  font-size: 0;
  box-shadow: 0 0 7px 2px #6D6464;
  font-family: 'Righteous', sans-serif;
}
.word-description__popup-title {
  padding: 10px 20px;
  border-bottom: 1px solid #bebbbc;
  font-size: 18px;
  background-color: #101069;
  color: #fff;
}
.word-description__popup-title-word {
  font-weight: 700;
}
.word-description__menu {
  display: inline-block;
  vertical-align: top;
  width: 40%;
}
.word-description__menu-item {
  padding: 10px 20px;
  border-bottom: 1px solid #ddb5fb;
  font-size: 18px;
  color: #7c7c7c;
  cursor: pointer;
}
.word-description__menu-item:hover {
  color: #000;
}
.word-description__menu-item_active {
  background-color: #f6dfff;
  color: #000;
  cursor: auto;
}
.word-description__grafan {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  height: 261px;
  font-size: 16px;
  background-color: #f6dfff;
  overflow: auto;
}
.word-description__grafan-title {
  margin: 10px;
  font-weight: 700;
  font-size: 20px;
}
.word-description__grafan-item {
  padding: 10px;
}
.word-description__grafan-item-title {
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
}
.word-description__grafan-delete {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  float: right;
}
.word-description__grafan-add {
  margin: 20px 10px 10px;
}
.word-description__link {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  color: #0006FF;
  border-bottom: 1px dashed #0006FF;
  cursor: pointer;
}
.university-title {
  padding: 110px 0;
  width: 100%;
  height: 70px;
  text-align: center;
  font-family: sans-serif;
  font-size: 22px;
  color: #03316d;
}
